/* HEADER SECTION */
.header-section {
    background-color: white;
    width: 100%;
    height: 80px;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 1000;

    box-shadow: 0px 14px 14px -14px rgba(0, 0, 0, 0.125);
    border: none;
}

.header-section .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px;

}

.header-section .header h1 {
    font-family: "Playball", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

.header-section .header .logo-title-div {
    display: flex;
    align-items: center;
}

.header-section .header .nav ul {
    display: flex;
    justify-content: center;
}

.header-section .header .nav ul li {
    list-style: none;
    padding: 5px;
}

.header-section .header .nav ul li a {
    text-decoration: none;
    font-family: "Nunito", sans-serif;
    font-size: 24px;
    line-height: 28px;
    font-weight: 300;
    color: black;
}


/* SHOWCASE SECTION */
.showcase-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    height: 600px;
    overflow: hidden;

    background-image: url('../assets/images/Background.png');
    background-position: top right;
    background-repeat: no-repeat;
}

.showcase-section .about {
    width: 484px;
    height: 352px;
    /* margin-left: 80px;
    margin-top: 137px; */
    display: flex;
    flex-direction: column;
    align-items: left;
}

.showcase-section .about .summary {
    font-family: "Nunito", sans-serif;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FF5876;
}

.showcase-section .about .hello {
    font-family: "Playball", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

.showcase-section .about p {
    text-decoration: none;
    font-family: "Nunito", sans-serif;
    font-size: 24px;
    line-height: 28px;
    font-weight: 300;
    color: black;
}

.showcase-section .about button {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    width: 123px;
    height: 44px;
    background-color: #0A66C2;
    color: white;
    border-radius: 8px;
    border: 1px solid black;
}

.showcase-section .about button a {
    text-decoration: none;
    color: white;
}

.showcase-section .photo img {
    width: 486px;
    /* height: 574px; */
}


/* PROJECTS SECTION */
.projects-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 80px;
    height: 850px;
    /* gap: 24px; */
    overflow: hidden;
}

.projects-section .card {
    margin-bottom: 32px;
    padding: 24px;
    height: 384px;
    max-width: 390px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
}

.projects-section .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
}

.projects-section .card h1 {
    font-family: "Nunito", sans-serif;
    font-size: 12px;
    line-height: 28px;
    font-weight: 300;
    color: black;
    text-transform: uppercase;
}

.projects-section .card h2 {
    font-family: "Roboto";
    font-weight: 700;
    font-style: normal;
    font-size: 10.74px;
}

.projects-section .card p {
    font-family: "Nunito", sans-serif;
    font-size: 12px;
    line-height: 28px;
    font-weight: 300;
    color: black;
    max-width: 343px;
}


/* CONTACT SECTION */
.contact-section {
    height: 653px;
    display: flex;
    justify-content: center;
}

.contact-section .contact-form-div {
    max-width: 588px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-section .contact-form-div h1 {
    width: 100%;
    height: 64px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    align-content: center;
    text-align: center;

    font-family: "Oxygen", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 34px;
    line-height: 55px;

    box-shadow: -4px 4px 0px 0px #FF6464;
}

.contact-section .contact-form-div p {
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: black;
}

.contact-section .contact-form-div form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.contact-section .contact-form-div form label {
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: black;
    height: 22px;
    padding-left: 16px;
    margin: 8px;
}

.contact-section .contact-form-div form label .required {
    color: #DA1414;
}

.contact-section .contact-form-div form input {
    height: 50px;
    border-radius: 8px;
    border: 1px solid #858C94;

    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: black;
    padding: 12px 16px;
    box-sizing: border-box;
}

.contact-section .contact-form-div form textarea {
    height: 134px;
    border-radius: 8px;
    border: 1px solid #858C94;
    margin-bottom: 16px;

    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: black;
    padding: 12px 16px;
    box-sizing: border-box;
}

.contact-section .contact-form-div form button {
    height: 49px;
    background-color: #FF6464;
    color: white;
    box-shadow: -4px 4px 14px rgba(0, 0, 0, 0.25);
    border: none;

    font-family: "Oxygen", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 1.25px;

    text-transform: uppercase;
}


/* FOOTER SECTION */
.footer-section {
    width: 100%;
    height: 72px;
}

.footer-section .footer {
    padding: 16px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-section .footer h1 {
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 700;
}